@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 3;
  height: 113px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  font-family: "Otomanopee One", sans-serif;
  margin-left: 40px;
}

.logoInstagram {
  padding-top: 8px;
  margin-left: auto;
  margin-right: 30px;
}

.main {
  position: relative;
  top: 153px;
}

.campaignHeader {
  height: 40px;
  z-index: 3;
  position: fixed;
  top: 113px;
  width: 100%;
  display: flex;
  background: orange;
  color: white;
  align-items: center;
  justify-content: center;
}

.campaignText {
  font-family: serif;
  font-weight: 500;
}

.campaignText:hover {
  cursor: pointer;
  border-bottom: 3px white solid;
}

.page1 {
  height: 100%;
}

.mainImg {
  display: block;
  animation: fadeIn;
  animation-timing-function: ease-out;
  animation-duration: 3s;
  width: 100%;
}

.mainImgMobile {
  display: none;
}

.page2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15vh 25vw 15vh 25vw;
  line-height: 2;
}

.storyText {
  font-family: serif;
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

.page3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.page4 {
  height: 100%;
  margin: 130px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-content: start;
}

.orderBtn {
  background: gray;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.page5 {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.contactText {
  font-family: serif;
  letter-spacing: 0.1rem;
}

.footerText {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 3;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
  }

  .title {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    font-family: "Otomanopee One", sans-serif;
    margin-left: 20px;
  }

  .logoInstagram {
    padding-top: 0;
    margin-left: auto;
    margin-right: 30px;
    width: 25px;
    height: 25px;
  }

  .main {
    position: relative;
    top: 100px;
  }

  .campaignHeader {
    height: 40px;
    z-index: 3;
    position: fixed;
    top: 60px;
    width: 100%;
    display: flex;
    background: orange;
    color: white;
    align-items: center;
    justify-content: center;
  }

  .page1 {
    height: 100%;
    width: 100%;
  }

  .mainImg {
    display: none;
  }

  .mainImgMobile {
    display: block;
    animation: fadeIn;
    animation-timing-function: ease-out;
    animation-duration: 3s;
  }

  .page2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10vw;
    line-height: 2;
  }

  .storyText {
    font-family: serif;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 1.6px;
    font-weight: bold;
  }

  .page3 {
    width: 100%;
  }

  .productSpec1 {
    object-fit: contain;
    width: 80vw;
  }

  .productSpec2 {
    object-fit: contain;
    width: 80vw;
  }

  .page5 {
    margin-top: 100px;
  }

  .releaseDateText {
    font-family: serif;
    font-size: 18px;
    letter-spacing: 0.1rem;
    text-decoration: underline yellow 10px;
  }
}
