.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 135px calc(100% - 135px);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-content: start;
}

.title {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  font-family: "Otomanopee One", sans-serif;
  margin-left: 40px;
  padding-bottom: 15px;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  font-family: sans-serif;
}

.description:hover {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainImg1 {
  animation: fadeIn;
  animation-timing-function: ease-out;
  animation-duration: 3s;
}

.mainImg2 {
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  padding-top: 13vh;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
