@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 3;
  height: 113px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  font-family: "Otomanopee One", sans-serif;
  margin-left: 40px;
}

.page1 {
  height: 100vh;
  position: relative;
  top: 133px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-content: start;
}

.mainImg1 {
  animation: fadeIn;
  animation-timing-function: ease-out;
  animation-duration: 3s;
}

.mainImg2 {
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  padding-top: 13vh;
}

.page2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5vh 25vw;
  line-height: 2;
}

.storyText {
  font-family: serif;
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

.page3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.page4 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-content: start;
}

.page5 {
  position: relative;
  top: -15vh;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.releaseDateText {
  font-family: serif;
  letter-spacing: 0.1rem;
  text-decoration: underline yellow 10px;
}

.alermBtn {
  background: #5d5d5d;
  color: white;
  font-family: serif;
  padding: 30px;
  letter-spacing: 0.1rem;
}

.alermBtn:hover {
  background: #444444;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.footerText {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 3;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
  }

  .title {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    font-family: "Otomanopee One", sans-serif;
    margin-left: 20px;
  }

  .page1 {
    height: 100vh;
    display: block;
  }

  .mainImg1 {
    animation: fadeIn;
    animation-timing-function: ease-out;
    animation-duration: 3s;
  }

  .mainImg2 {
    animation: fadeIn;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    padding-top: 8vh;
  }

  .page2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 10vw;
    line-height: 2;
  }

  .storyText {
    font-family: serif;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 1.6px;
    font-weight: bold;
  }

  .page3 {
    height: 50vh;
    position: relative;
    top: 150px;
  }

  .page4 {
    height: 100vh;
    display: block;
    margin-top: 80px;
  }

  .productSpec1 {
    margin-bottom: 70px;
  }

  .page5 {
    display: block;
    text-align: center;
  }

  .releaseDateText {
    font-family: serif;
    font-size: 18px;
    letter-spacing: 0.1rem;
    text-decoration: underline yellow 10px;
  }

  .alermBtn {
    background: #5d5d5d;
    color: white;
    font-family: serif;
    padding: 30px;
    letter-spacing: 0.1rem;
    position: relative;
    top: 70px;
  }

  .alermBtn:hover {
    background: #444444;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
}
